<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="container">
    <h1>About Me</h1>
    <p>Fatema, Medical Lab Specialest.<br>
        I’m a creative person who loves reading novels, drawing, writing, and exploring new hobbies.<br>
        I’m always eager to improve myself whether through learning new technologies, trying new skills, or
        expanding my knowledge </p>

    <h1>Technologies & Skills</h1>
    <ul>
        <li>JavaScript</li>
        <li>CSS</li>
        <li>HTML</li>
    </ul>

    <h1>Education</h1>
    <p>Bachelor of Medical Laboratory Science</p>

    <h1>Future Job Interests</h1>
    <p> I want to be a developer in the future</p>

    <a href="/">back to Homepage</a>

    </div>
</body>

</html>