body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #7f5539;
    color: #9c6644;
    margin: 0;
    padding: 40px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: #ede0d4;
    padding: 30px;
    border-radius: 16px;
    align-content: center;
}

h1 {
    color: #7f5539;
    margin-bottom: 10px;
    font-weight: 600;
}


a {
    color: #7f5539;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
    color: #9c6644;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 8px;
    color: #9c6644;
}